# Mining Massive Datasets: Problem Set 1
### Due October 28, 2019, 11:59 pm

## Exercise 2
### b) Give three own programming examples of your choice for transformations (but not for map() or filter()) and three examples for actions (again, of your choice).

In [1]:
import findspark
findspark.init("/usr/local/spark")

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType

In [3]:
spark = SparkSession.builder.master('local').appName('lab1').getOrCreate()
sc = spark.sparkContext

In [4]:
nums = sc.parallelize([9,1,2,1,4,5,0,1,1,1,2,8,9])

# 3 example transformations
numsSortByKey = nums \
    .map(lambda num: (num, 1)) \
    .sortByKey()

numsReduceByKey = nums \
    .map(lambda num: (num, 1)) \
    .reduceByKey(lambda accum, val: accum+val)

numsGroupByKey = nums \
    .map(lambda num: (num,1 )) \
    .groupByKey()

# 3 example actions
nums.collect()
nums.take(2)
nums.count()

13

## Exercise 4

### a)

In [39]:
adultsRDD = sc.textFile("adult.data") \
    .map(lambda line: line.split(",")) \
    .filter(lambda p: len(p) == 15 ) \
    .map(lambda p: (
            p[3].strip(),
            p[4].strip(),
            p[5].strip(),
            p[9].strip(),
            p[12].strip(),
            p[13].strip(),
            p[14].strip()
    ))
#print(adultsRDD.first())
schema = StructType([
    StructField("education", StringType(), True),
    StructField("education_num", StringType(), True),
    StructField("marital_status", StringType(), True),
    StructField("sex", StringType(), True),
    StructField("hours_per_week", StringType(), True),
    StructField("native_country", StringType(), True),
    StructField("income", StringType(), True)
])
dfAdults = spark.createDataFrame(adultsRDD, schema)

### b)

In [41]:
dfAdults.groupBy(['marital_status', 'sex']).count().collect()

[Row(marital_status='Married-AF-spouse', sex='Female', count=14),
 Row(marital_status='Married-AF-spouse', sex='Male', count=9),
 Row(marital_status='Never-married', sex='Male', count=5916),
 Row(marital_status='Never-married', sex='Female', count=4767),
 Row(marital_status='Separated', sex='Male', count=394),
 Row(marital_status='Separated', sex='Female', count=631),
 Row(marital_status='Widowed', sex='Male', count=168),
 Row(marital_status='Divorced', sex='Female', count=2672),
 Row(marital_status='Married-civ-spouse', sex='Female', count=1657),
 Row(marital_status='Divorced', sex='Male', count=1771),
 Row(marital_status='Married-spouse-absent', sex='Female', count=205),
 Row(marital_status='Married-spouse-absent', sex='Male', count=213),
 Row(marital_status='Widowed', sex='Female', count=825),
 Row(marital_status='Married-civ-spouse', sex='Male', count=13319)]

In [33]:
from pyspark.sql import *

# Create Example Data - Departments and Employees

# Create the Departments
department1 = Row(id='123456', name='Computer Science')
department2 = Row(id='789012', name='Mechanical Engineering')
department3 = Row(id='345678', name='Theater and Drama')
department4 = Row(id='901234', name='Indoor Recreation')

# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee2 = Employee('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
employee3 = Employee('matei', None, 'no-reply@waterloo.edu', 140000)
employee4 = Employee(None, 'wendell', 'no-reply@berkeley.edu', 160000)
employee5 = Employee('michael', 'jackson', 'no-reply@neverla.nd', 80000)

# Create the DepartmentWithEmployees instances from Departments and Employees
departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee5, employee4])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])

In [35]:
departmentsWithEmployeesSeq1 = [departmentWithEmployees1, departmentWithEmployees2]
df1 = spark.createDataFrame(departmentsWithEmployeesSeq1)
df1.count()

2